{% extends 'layout.html' %}
{% block content %}
<h3 class="mb-3">Your Profile</h3>
<form method="post" class="card p-3">
	<div class="row g-3">
		<div class="col-md-6">
			<label class="form-label">Name</label>
			<input class="form-control" name="name" value="{{ current_user.name }}" />
		</div>
		<div class="col-md-6">
			<label class="form-label">Department</label>
			<input class="form-control" name="department" value="{{ current_user.department or '' }}" />
		</div>
		<div class="col-md-6">
			<label class="form-label">CGPA</label>
			<input class="form-control" type="number" step="0.01" min="0" max="10" name="cgpa" value="{{ current_user.cgpa or '' }}" />
		</div>
		<div class="col-md-6">
			<label class="form-label">Family Income</label>
			<input class="form-control" type="number" step="0.01" min="0" name="family_income" value="{{ current_user.family_income or '' }}" />
		</div>
	</div>
	<button class="btn btn-primary mt-3">Save</button>
</form>
{% endblock %}



